@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

body {
  background: #faf7ee;
  color: #1b1b17;
}
.dark body {
  background: #1b1b17;
  color: #ece8db;
}
